/* * {
    box-sizing: border-box;
}

body {

    font-family: sans-serif;
    background: #eee;
}

.row:before,
.row:after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.col-6 {
    width: 25%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.card img {
    width: 100%;
}

.card {
    box-shadow: 0 0 3px #666;
    background: #fff;
}

.card .title {
    font-weight: bold;
}

.text {
    padding: 10px;
}

.muted {
    opacity: .3;
} */

* {
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: sans-serif;
}

.row:before,
.row:after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.col-6 {
    width: 25%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.card {
    box-shadow: 0 0 5px #666;
    background: #fff;
}

.card img {
    max-width: 100%;
}

.text {
    padding: 10px;
}

.title {
    font-weight: bold;
}

.muted {
    opacity: .5;
}