/* :root {
    font-size: 15px;
    font-family: sans-serif;
}

.board {
    display: inline-block;
    background: #000;
    font-size: 2rem;
    color: red;
    padding: 20px 50px;
    line-height: 1;
    opacity: 1;
}

[hidden] {
    display: none !important;
} */