* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.row:before,
.row:after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
}

.col-18 {
    width: 66.66666666666%;
}

.col-6 {
    width: 33.33333333333%;
}

.right {
    text-align: right;
}

.nav {
    color: #ccc;
    background: #444;
}

.nav a,
.nav-item {
    color: inherit;
    display: inline-block;
    padding: .3em;
}

.nav .btn {
    background: #666;
    padding-left: 1em;
    padding-right: 1em;
}

.nav a:after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 1em;
    background: #666;
    position: relative;
    top: .16em;
    left: .4em;
}

.nav a:last-of-type:after {
    display: none;
}

.container {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}