.nav.page {
    /* background: #000; */
}

.logo {
    width: 70px;
    height: 70px;
    background: tomato;
    background-image: url(../image/logo.png);
    background-size: contain;
    background-position: center;
}

.first-screen>* {
    margin-bottom: 20px;
}

.doodle {
    width: 160px;
}

.img-group,
.nav.page .search input {
    margin-top: 30px;

}

.nav.page {
    margin-bottom: 0;
}

.nav.page .link-group a {
    display: inline-block;
    padding: 50px 20px;
    /* background: #000; */
    color: inherit;
    font-size: 2rem;
}

.nav.page .link-group a:hover {
    color: tomato;
}

.nav.page .search input {
    width: 320px;
}

.nav.page .search {
    position: relative;
}

.nav.page .search .rec-group {
    position: absolute;
    top: 52px;
    right: 98px;
}

.nav.page .search .rec-group .rec {
    background: #ddd;
    padding: 5px;

    margin-left: 10px;
}

.nav.page .search .rec-group .rec:hover {
    background: tomato;
    color: #fff;
}

.slider .container {
    background-image: url(../image/slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider .cat-group {
    background: rgba(0, 0, 0, .2);
    padding: 30px 0;

}

.slider .cat-group a {
    display: block;
    padding: 20px 50px;
    color: #fff;
}

.slider .cat:hover {
    background: tomato;
}

.slider .preview {
    position: relative;
}

.slider .linker {
    position: absolute;
    width: 100%;
    height: 720px;

}

.slider .linker:hover {
    background: transparent;

}

.slider .navigator>* {
    background-image: url(../image/icon-slides.png);
    position: absolute;
    top: 320px;
    width: 40px;
    height: 80px;
    cursor: pointer;
}

.slider .navigator .prev {
    background-position: -83px 3px;
    left: 0;
}

.slider .navigator .prev:hover {
    background-position: 0 5px;
}

.slider .navigator .next:hover {
    background-position: -40px 5px;
}

.slider .navigator .next {
    right: 0;
    background-position: -125px 3px;
}

.shortcuts {
    padding: 18px 0;
    text-align: center;
    background: #888;
    color: #fff;


}

.shortcuts>* {
    padding: 10px;
}

.shortcuts>*>* {
    margin: 10px 0;
}

.top-promote .container>* {
    padding-left: 20px;
}

.top-promote .container>:first-child {
    padding-left: 0;
}