* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #666;
    font-family: sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
}

.row::before,
.row::after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
}

.col-6 {
    width: 25%;
    /* background: #ccc; */
    position: relative;
    top: 10px;
}

.col-18 {
    width: 75%;
    /* background: #f33; */
}

.right {
    text-align: right;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.nav {
    /* margin-top: 20px; */
    color: #fff;
    background: blue;
}

.nav a {
    display: inline-block;
    color: inherit;
    padding: .2em .4em;
}

.auth {
    font-size: 80%;
}

.logo {
    display: inline-block;
    width: 90px;
    height: 45px;
    background-image: url(./image/sprit.png);
    background-position: -8px -12px;
}

.icon-location {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./image/sprit.png);
    background-position: -182px -20px;
}

.location {
    position: relative;
    bottom: 15px;
}