* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background: #666; */
    font-family: sans-serif;

}

a {
    text-decoration: none;
}

.row::before,
.row:after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
}

.col-16 {
    width: 66.666666666%;
}

.col-8 {
    width: 33.333333333%;
}

.right {
    text-align: right;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    color: #ccc;
    background: #444;
}

.nav a,
.nav-item {
    display: inline-block;
    color: inherit;
    padding: .3em;
}

.nav a:hover {
    color: #fff;
}

/*~~~~~~~~~~~~~~~~~~~~*/
.nav .btn {
    background: #666;
    padding-left: 1em;
    padding-right: 1em;
}

.nav a:after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 1em;
    background: #555;
    position: relative;
    top: .16em;
    left: .4em;
}

.nav a:last-of-type:after {
    display: none;
}