img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    position: relative;
}

.item {
    opacity: 0;
    position: absolute;
    display: block;
    transition: all 1s;
}