* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #eee;
    font-family: sans-serif;

}

a {
    text-decoration: none;
}

.row::before,
.row:after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
}

.col-6 {
    width: 25%;
}

.col-12 {
    width: 50%;
}

.right {
    text-align: right;
}


.nav {
    color: #222;
    font-weight: 420;
    background: #fff;
}

.nav a {
    display: inline-block;
    color: inherit;
    padding: 1.2em;

}

.right a {

    display: inline-block;
    padding: .5em;
    position: relative;
    top: .8em;
}

.nav .logo {
    padding: 10px;
    padding-left: 30px;
}

.nav img {
    display: inline-block;
    width: 40%;
}

.nav .new {
    position: relative;
    bottom: 2px;
    font-size: 10px;
    border: 1px solid #777;
    border-radius: 7px;
    padding: 0 5px;
    vertical-align: middle;
}