:root {
    font-family: sans-serif;
    font-size: 15px;
}

.board {
    display: inline-block;
    color: red;
    background: #000;
    padding: 20px 40px;
    font-size: 2rem;
    opacity: 1;
    line-height: 1;
    border: 5px solid;
}