.biao-dropdown-trigger {
    display: block;
}

.biao-dropdown {
    padding: 10px;
    display: inline-block;
    background: #666;
    color: #fff;
}

.biao-dropdown a {
    color: inherit;
    display: block;
    min-width: 100px;
    text-decoration: none;
    padding: 5px 10px;
}

[hidden] {
    display: none !important;
}