:root {
    font-family: sans-serif;
    font-size: 15px;
}

.board {
    background: #000;
    display: inline-block;
    color: red;
    padding: 20px 40px;
    line-height: 1;
    font-size: 2rem;
    border: 3px solid red;
    opacity: 1;
}

.counter {
    font-size: 1rem;
}